<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <style>
        div.momment-card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
{% include 'navbar.html' %}
<div class="container">
    {% for d in circles:%}
    <div class="card momment-card">
        <div class="card-block">
            <div class='row'>
                <div class="col-10">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-text">{{d['circle_name']}}</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text">{{d['announcement']}}</p></div>
                    </div>
                    <p class="card-text">{{d['introduction']}}</p>
                    <div class="row">
                        <div class="col-3">
                            <label class="btn btn-primary join" id="join-{{d['circle_id']}}">join</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="{{d['icon']}}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>

<script>
    $(".join").click(function () {
        var circle_id = $(this).attr('id').split("-")[1];
        let jsonData = {"circle": circle_id};
        $.ajax({
            type: 'POST',
            url: "/circle/join/",
            dataType: "text",
            data: jsonData,
            success: (res) => {
            }
        });
    });
</script>

</html>