<html>
<head>
    {% include 'header.html' %}
    <link href="http://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <form class="form-signin" action='/student/login/' method='post'>
        <h2 class="form-signin-heading">Sign into UMomment</h2>
        <label for="studentId" class="sr-only">UMoment id</label>
        <input type="text" id="studentId" name='student_id' class="form-control" placeholder="UMoment Id" required
               autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name='password' class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
</body>

<script>
    //    $("#loginButton").click(function () {
    //        var jsonData = {"id": $("#studentId").val(), "password": $("#password").val()};
    //        var saveData = $.ajax({
    //            type: 'POST',
    //            url: "/student/login/",
    //            dataType: "text",
    //            data: jsonData,
    //            success: function (resultData) {
    //                console.log(saveData)
    //            }
    //        });
    //        if (saveData.get('responseText') == 'error')
    //            console.log("error1");
    //    });
</script>


</html>


