<!doctype html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{trend['trend']['circle_name']}}</title>
</head>

<body>
{% include 'navbar.html' %}

<header>
    <div class="blog-header">
        <div class="container">
            <h1 class="blog-title">{{trend['trend']['circle_name']}}</h1>
        </div>
    </div>
</header>

<main role="main" class="container">
    <img src="{{trend['trend']['image']}}" class="img-fluid" alt="Responsive image">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <p class="blog-post-meta">{{trend['trend']['time']}} by
                    <a href="#">{{trend['trend']['author_name']}}</a></p>
                {% for para in trend['trend']['content'].split('\n') %}
                <p>{{para}}</p>
                {% endfor %}
                <hr>
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        <aside class="col-sm-3 ml-sm-auto blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>{{trend['trend']['like_count']}} Likes</h4>
                <h4>Comments</h4>
                {% for c in trend['comments']: %}
                <div class="card momment-card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text">{{c['author_name']}}</p></div>
                            <div class="col-6">
                                <p class="card-text">{{c['time']}}</p>
                            </div>
                        </div>
                        <p class="card-text">{{c['content']}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </aside><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</main><!-- /.container -->

</body>
</html>
